@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;

}

body {
    border: 2px solid black;

    width: ;
    height: ;
    margin: auto;
}

header > img {

    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    border-radius: 40px;
    width: 96vw;
    height: 90vh;
    margin: 20px;
}

main > h1 {
    text-align: center;

}