@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-size: 14px;
}

div.container {
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

header > h1, p {
    color: white;
}

header > p#cep {
    color: hsl(75, 94%, 57%);
}

header > p#descricao {
    padding: 20px;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

nav > a {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    padding: 10px 150px 10px 150px;
    color: white;
    text-decoration: none;
    flex: 1 1 auto;
    margin: 5px;

}

nav > a:hover {
    transition: background-color .9s;
    background-color: hsl(75, 94%, 57%);
}