@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.div1 {
    text-align: center;
    background-color: gray;
    width: 200px;
    height: 100px;
    line-height: 100px;
}

.div1 > h1 {
    font-size: 2em;
}

.div2 {
    background-color: lightgray;
    width: 600px;
    height: 100px;
    text-align: center;
    line-height: 150px;
}

.div2 > a {
    font-size: 2em;
    padding: 10px;
}

.div2 > a::after {
    content: '/ ';
}