@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #232A31;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding-right: 30px;
}

.botoes > ul > li {
    list-style-type: none;
    color: white;
    cursor: pointer;
}

.btn:hover{
    color: rgb(192, 192, 192);
    transition: .2s;
}

.btn-login:hover{
    background-color: #198d47;
    transition: .2s;
}

.botoes > ul > li > a{
    text-decoration: none;
    color: white;
}

.btn-login{
    padding: 10px 20px;
    background-color: #22BB5F;
    border-radius: 20px;
}
